*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10 px === 1rem
  font-weight: 300;
  font-family: "Nunito", cursive;
  color: $color-white;
}

body {
  min-height: 90vh;
  line-height: 1.6;
  padding: 2rem;
  z-index: 1;
}

a,
button {
  outline: none;
  cursor: pointer;
}
