*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10 px === 1rem
  font-weight: 300;
  font-family: "Nunito", cursive;
  color: $color-white;

  @include resize(fhd) {
    font-size: 80%;
  }
  @include resize(tablet) {
    font-size: 40%;
  }
  @include resize(phone) {
    font-size: 30%;
  }
}

body {
  min-height: 90vh;
  line-height: 1.6;
  padding: 2rem;
  z-index: 1;

  @include resize(phone) {
    padding: 0;
  }
}

a,
button {
  outline: none;
  cursor: pointer;
}
