.drinkcounter {
  &__container {
    display: flex;
    flex-direction: column;
    background-color: rgba($color-white, 0.25);

    margin: 2rem;
    padding: 1rem;

    justify-content: center;
    align-items: center;

    &-content {
      display: flex;
      flex-direction: row;
    }
  }

  &__btn-container {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    justify-content: center;
  }

  &__buttons {
    font-size: 2rem;
    color: $color-white;
    border: none;
    background-color: transparent;
  }

  &__number {
    font-size: 5rem;
    font-weight: 200;
  }
}