.waterplant {
  &__warning,
  &__container {
    display: flex;
    flex-direction: column;

    margin: 2rem;
    padding: 1rem;

    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in;
  }

  &__container {
    background-color: $color-green;
  }

  &__warning {
    background-color: red;
  }

  &__button {
    width: 9rem;
    padding: 1rem;
    border: 3px solid $color-white;
    color: $color-white;
    background-color: transparent;
    transition: transform 0.2s ease-in;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__text {
    font-size: 1.2rem;
    margin: 0.5rem;
  }

  &__days {
    font-size: 5rem;
    font-weight: 200;
    margin: 0.5rem;
  }
}